* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
header {
  height: 60px;
  background-color: #092e5b;
  font-size: 24px;
  color: white;
  padding-left: 32px;
  padding-top: 10px;
}

header svg {
  font-size: 30px;
}
.heading {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}
label {
  font-weight: 700;
  font-size: large;
}
.main {
  height: 90vh;
  padding-left: 10px;
}

.main.active {
  height: 90vh;
  padding-left: 310px;
}
/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  height: 50px;
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  position: relative;
  display: block;
  color: #673ab7 !important;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #673ab7 !important;
}

.page-link:hover {
  z-index: 2;
  color: #fff !important;
  background-color: #673ab7;
  border-color: #024dbc;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}

.user-info {
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.user-info > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .main.active {
    padding-top: 300px;
    height: 90vh;
    padding-left: 10px;
  }
}
